flows.json
[{"id":"67ce4845.e7b99","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc33c2d0.fa588","type":"watson-speech-to-text","z":"67ce4845.e7b99","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"M3tcaL1TUkS9rn7SuN2EWYxk4HV6lRiUnt66XH325KBZ","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/76ca67df-8c3a-497e-aa3c-af39458e71d8","x":470,"y":140,"wires":[["2a9045e5.aafd82"]]},{"id":"12d1459a.c0d852","type":"microphone","z":"67ce4845.e7b99","name":"","x":200,"y":140,"wires":[["fc33c2d0.fa588"]]},{"id":"2a9045e5.aafd82","type":"debug","z":"67ce4845.e7b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"9a108d1e.cafe08","type":"watson-text-to-speech","z":"67ce4845.e7b99","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_EnriqueV3Voice","voicehidden":"es-ES_EnriqueV3Voice","format":"audio/wav","password":"","apikey":"HsnMmk_AV77jVLMKJqOvpyGtyB6Yd2-MW6Yj__c7m2ah","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/a0216c77-6df9-419d-92d3-13b16a992536","x":440,"y":300,"wires":[["823481e7.28d65"]]},{"id":"e5da723c.b25bb8","type":"inject","z":"67ce4845.e7b99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola soy tu taxi","payloadType":"str","x":190,"y":280,"wires":[["9a108d1e.cafe08"]]},{"id":"5c7d17ae.44d088","type":"play audio","z":"67ce4845.e7b99","name":"","voice":"","x":950,"y":260,"wires":[]},{"id":"823481e7.28d65","type":"change","z":"67ce4845.e7b99","name":"set speech as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"},{"t":"delete","p":"speech","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":320,"wires":[["5c7d17ae.44d088"]]},{"id":"6fde4a35.c5bc54","type":"watson-translator","z":"67ce4845.e7b99","name":"español a ingles","action":"translate","basemodel":"ar-en","domain":"general","srclang":"es","destlang":"en","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":340,"y":400,"wires":[["9b9d831b.a3504","bdbc5547.3b10c"]]},{"id":"314ddba6.15756c","type":"inject","z":"67ce4845.e7b99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola soy tu taxi","payloadType":"str","x":120,"y":400,"wires":[["6fde4a35.c5bc54"]]},{"id":"9b9d831b.a3504","type":"debug","z":"67ce4845.e7b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":500,"wires":[]},{"id":"bdbc5547.3b10c","type":"watson-text-to-speech","z":"67ce4845.e7b99","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_OliviaV3Voice","voicehidden":"es-ES_EnriqueV3Voice","format":"audio/wav","password":"","apikey":"HsnMmk_AV77jVLMKJqOvpyGtyB6Yd2-MW6Yj__c7m2ah","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/a0216c77-6df9-419d-92d3-13b16a992536","x":560,"y":440,"wires":[["823481e7.28d65"]]},{"id":"e9925be4.aa3bd","type":"watson-conversation-v1","z":"67ce4845.e7b99","name":"","workspaceid":"c2558205-8082-4e48-97db-721f7acd03ab","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/c4f35fc0-268f-4f78-865d-039654026233","timeout":"","optout-learning":false,"x":310,"y":480,"wires":[["f3cea7d9.b649d8"]]},{"id":"f3cea7d9.b649d8","type":"debug","z":"67ce4845.e7b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.output.text","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":560,"wires":[]},{"id":"e7be039e.effe58","type":"inject","z":"67ce4845.e7b99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":90,"y":480,"wires":[["e9925be4.aa3bd"]]}]