flows.json
[{"id":"a473ad98.b00e5","type":"tab","label":"flujo conductor","disabled":false,"info":""},{"id":"8426298e.a8a078","type":"tab","label":"flujo pasajero","disabled":false,"info":""},{"id":"cc7470cc.455ca","type":"tab","label":"tester","disabled":false,"info":""},{"id":"b805aef2.adeb68","type":"mqtt-broker","name":"","broker":"https://mqtt.eclipseprojects.io/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cc275635.4e7948","type":"websocket-listener","path":"/ws/driverAudio","wholemsg":"false"},{"id":"6c44276c.8be1b8","type":"websocket-listener","path":"/ws/passengerAudio","wholemsg":"false"},{"id":"f12fe94b.34918","type":"watson-speech-to-text","z":"8426298e.a8a078","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"Multimedia","bandhidden":"Multimedia","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"M3tcaL1TUkS9rn7SuN2EWYxk4HV6lRiUnt66XH325KBZ","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/76ca67df-8c3a-497e-aa3c-af39458e71d8","x":220,"y":260,"wires":[["a962dae5.5c9708","89001e25.99f248"]]},{"id":"a962dae5.5c9708","type":"debug","z":"8426298e.a8a078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"620fe723.153468","type":"play audio","z":"8426298e.a8a078","name":"","voice":"0","x":1170,"y":340,"wires":[]},{"id":"3da75728.de8f3","type":"change","z":"8426298e.a8a078","name":"set speech as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"},{"t":"delete","p":"speech","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":320,"wires":[["620fe723.153468","7e43e372.4d155c"]]},{"id":"65e18758.e607e8","type":"watson-text-to-speech","z":"8426298e.a8a078","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraV3Voice","voicehidden":"es-ES_LauraV3Voice","format":"audio/wav","password":"","apikey":"HsnMmk_AV77jVLMKJqOvpyGtyB6Yd2-MW6Yj__c7m2ah","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/a0216c77-6df9-419d-92d3-13b16a992536","x":680,"y":340,"wires":[["3da75728.de8f3"]]},{"id":"89001e25.99f248","type":"change","z":"8426298e.a8a078","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":380,"wires":[["b5b6b8ef.1d4b68"]]},{"id":"f6146d85.c33ad8","type":"websocket in","z":"8426298e.a8a078","name":"audioInput","server":"6c44276c.8be1b8","client":"","x":340,"y":40,"wires":[["f12fe94b.34918"]]},{"id":"7e43e372.4d155c","type":"websocket out","z":"8426298e.a8a078","name":"audioOut","server":"cc275635.4e7948","client":"","x":1160,"y":220,"wires":[]},{"id":"c96fcaab.3d8f28","type":"microphone","z":"8426298e.a8a078","name":"","x":150,"y":40,"wires":[["f12fe94b.34918"]]},{"id":"954b8751.dfa5a8","type":"switch","z":"8426298e.a8a078","name":"voice commands","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ayuda","vt":"str"},{"t":"cont","v":"adi贸s","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":600,"wires":[["93ea3b98.7f13e"],["3d077051.115a3"]]},{"id":"93ea3b98.7f13e","type":"function","z":"8426298e.a8a078","name":"keyword \"ayuda\"","func":"var alertMsg = {payload: \"palabra clave detectada: ayuda\"}\nreturn alertMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":580,"wires":[["a4ff4912.fdc58"]]},{"id":"a4ff4912.fdc58","type":"debug","z":"8426298e.a8a078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":540,"wires":[]},{"id":"3d077051.115a3","type":"function","z":"8426298e.a8a078","name":"keyphrase \"chao\"","func":"var alertMsg = {payload: \"palabra clave detectada adi贸s\"}\nreturn alertMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":640,"wires":[["105011b9.89b96e"]]},{"id":"105011b9.89b96e","type":"debug","z":"8426298e.a8a078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":640,"wires":[]},{"id":"d972fc57.1ca5d","type":"watson-speech-to-text","z":"a473ad98.b00e5","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"Telephony","bandhidden":"Telephony","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"M3tcaL1TUkS9rn7SuN2EWYxk4HV6lRiUnt66XH325KBZ","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/76ca67df-8c3a-497e-aa3c-af39458e71d8","x":200,"y":140,"wires":[["39ebbee.6e294c2","bc86229d.e9e5f"]]},{"id":"39ebbee.6e294c2","type":"change","z":"a473ad98.b00e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":280,"wires":[["65f092ab.2b585c","413c8d74.ca179c","660c433.f191cbc"]]},{"id":"7475b0.a6f97a5","type":"websocket in","z":"a473ad98.b00e5","name":"audioInput","server":"cc275635.4e7948","client":"","x":380,"y":40,"wires":[["d972fc57.1ca5d","d77ea352.0c58f8"]]},{"id":"90c312e.4fc03f","type":"microphone","z":"a473ad98.b00e5","name":"","x":170,"y":40,"wires":[["d972fc57.1ca5d"]]},{"id":"65f092ab.2b585c","type":"watson-translator","z":"a473ad98.b00e5","name":"es to en","action":"translate","basemodel":"ar-en","domain":"general","srclang":"es","destlang":"en","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":500,"y":280,"wires":[["5d9641fc.bdce8","9f4f554d.8a9db"]]},{"id":"5d9641fc.bdce8","type":"watson-text-to-speech","z":"a473ad98.b00e5","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV3Voice","voicehidden":"en-US_LisaV3Voice","format":"audio/wav","password":"","apikey":"HsnMmk_AV77jVLMKJqOvpyGtyB6Yd2-MW6Yj__c7m2ah","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/a0216c77-6df9-419d-92d3-13b16a992536","x":720,"y":300,"wires":[["e42a24f1.a370e","b984217a.b1e6d8"]]},{"id":"e42a24f1.a370e","type":"change","z":"a473ad98.b00e5","name":"set speech as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"},{"t":"delete","p":"speech","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":360,"wires":[["15499ead.e6fa49","80e656a2.d8884"]]},{"id":"80e656a2.d8884","type":"websocket out","z":"a473ad98.b00e5","name":"audioOut","server":"cc275635.4e7948","client":"","x":1220,"y":300,"wires":[]},{"id":"15499ead.e6fa49","type":"play audio","z":"a473ad98.b00e5","name":"","voice":"1","x":1230,"y":420,"wires":[]},{"id":"9f4f554d.8a9db","type":"debug","z":"a473ad98.b00e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":380,"wires":[]},{"id":"bc86229d.e9e5f","type":"debug","z":"a473ad98.b00e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":120,"wires":[]},{"id":"b5b6b8ef.1d4b68","type":"watson-translator","z":"8426298e.a8a078","name":"en to es","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":440,"y":340,"wires":[["65e18758.e607e8","9be34ef.9efd03"]]},{"id":"deef6195.82b74","type":"watson-speech-to-text","z":"cc7470cc.455ca","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"M3tcaL1TUkS9rn7SuN2EWYxk4HV6lRiUnt66XH325KBZ","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/76ca67df-8c3a-497e-aa3c-af39458e71d8","x":180,"y":200,"wires":[["1de72563.d8ad4b","5f01ec95.602494"]]},{"id":"1de72563.d8ad4b","type":"debug","z":"cc7470cc.455ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"8958c186.eee518","type":"play audio","z":"cc7470cc.455ca","name":"","voice":"0","x":1490,"y":460,"wires":[]},{"id":"c792afbc.58e18","type":"change","z":"cc7470cc.455ca","name":"set speech as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"},{"t":"delete","p":"speech","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":460,"wires":[["8958c186.eee518"]]},{"id":"bc5d082.07f7ff8","type":"watson-text-to-speech","z":"cc7470cc.455ca","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraV3Voice","voicehidden":"es-ES_LauraV3Voice","format":"audio/wav","password":"","apikey":"HsnMmk_AV77jVLMKJqOvpyGtyB6Yd2-MW6Yj__c7m2ah","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/a0216c77-6df9-419d-92d3-13b16a992536","x":980,"y":560,"wires":[["c792afbc.58e18","ffaab94d.1e6608"]]},{"id":"5f01ec95.602494","type":"change","z":"cc7470cc.455ca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":320,"wires":[["380239d0.7044d6","499003fe.44173c"]]},{"id":"1409c994.bf8646","type":"websocket in","z":"cc7470cc.455ca","name":"audioInput","server":"cc275635.4e7948","client":"","x":360,"y":40,"wires":[[]]},{"id":"ffaab94d.1e6608","type":"websocket out","z":"cc7470cc.455ca","name":"audioOut","server":"cc275635.4e7948","client":"","x":1280,"y":600,"wires":[]},{"id":"1d97fa72.41c70e","type":"microphone","z":"cc7470cc.455ca","name":"","x":130,"y":40,"wires":[["deef6195.82b74"]]},{"id":"380239d0.7044d6","type":"switch","z":"cc7470cc.455ca","name":"voice commands","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ayuda","vt":"str"},{"t":"cont","v":"el viaje cuesta","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":240,"wires":[["71a7c905.08dd7"],["5a3e3ead.1bfaf"]]},{"id":"71a7c905.08dd7","type":"function","z":"cc7470cc.455ca","name":"keyword \"ayuda\"","func":"var alertMsg = {payload: \"palabra clave detectada\"}\nreturn alertMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":220,"wires":[["510f7626.0df328"]]},{"id":"510f7626.0df328","type":"debug","z":"cc7470cc.455ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":180,"wires":[]},{"id":"5a3e3ead.1bfaf","type":"function","z":"cc7470cc.455ca","name":"keyphrase \"el viaje vale\"","func":"var alertMsg = {payload: \"palabra clave detectada 10000\"}\nreturn alertMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":280,"wires":[["fc9c07d6.839e6"]]},{"id":"fc9c07d6.839e6","type":"debug","z":"cc7470cc.455ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":280,"wires":[]},{"id":"499003fe.44173c","type":"watson-language-translator-identify","z":"cc7470cc.455ca","name":"","service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":170,"y":580,"wires":[["a5ab31ed.0c49f8","a89396a4.b69b4"]]},{"id":"a5ab31ed.0c49f8","type":"debug","z":"cc7470cc.455ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"lang.language","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":700,"wires":[]},{"id":"58afccdd.c4c554","type":"watson-translator","z":"cc7470cc.455ca","name":"it to en","action":"translate","basemodel":"ar-en","domain":"general","srclang":"it","destlang":"en","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"it","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":570,"y":580,"wires":[["97b53a9.3a547c8"]]},{"id":"a89396a4.b69b4","type":"switch","z":"cc7470cc.455ca","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"fr","vt":"str"},{"t":"eq","v":"it","vt":"str"},{"t":"eq","v":"ja","vt":"str"},{"t":"eq","v":"ru","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":370,"y":560,"wires":[["bcc8dc38.877f2"],["c49ed295.0a4738"],["58afccdd.c4c554"],["c00dca41.88621"],["66085aaf.30110c"]]},{"id":"bcc8dc38.877f2","type":"watson-translator","z":"cc7470cc.455ca","name":"en to es","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":640,"y":480,"wires":[["bc5d082.07f7ff8"]]},{"id":"c00dca41.88621","type":"watson-translator","z":"cc7470cc.455ca","name":"ja to en","action":"translate","basemodel":"ar-en","domain":"general","srclang":"ja","destlang":"en","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"ja","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":580,"y":640,"wires":[["d8e0da55.e60cb8"]]},{"id":"66085aaf.30110c","type":"watson-translator","z":"cc7470cc.455ca","name":"ru to en","action":"translate","basemodel":"ar-en","domain":"general","srclang":"ru","destlang":"en","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"ru","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":580,"y":700,"wires":[["ac455d88.c0a6d"]]},{"id":"c49ed295.0a4738","type":"watson-translator","z":"cc7470cc.455ca","name":"fr to es","action":"translate","basemodel":"ar-en","domain":"general","srclang":"fr","destlang":"es","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"fr","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":630,"y":540,"wires":[["bc5d082.07f7ff8"]]},{"id":"97b53a9.3a547c8","type":"watson-translator","z":"cc7470cc.455ca","name":"en to es","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":720,"y":580,"wires":[["bc5d082.07f7ff8"]]},{"id":"d8e0da55.e60cb8","type":"watson-translator","z":"cc7470cc.455ca","name":"en to es","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":720,"y":640,"wires":[["bc5d082.07f7ff8"]]},{"id":"ac455d88.c0a6d","type":"watson-translator","z":"cc7470cc.455ca","name":"en to es","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"O5a_XBns4pG1T2vqLglObBCSt_0Y_XRLHa4H-TWNKjPc","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/6cef7255-e12d-40b9-8d0b-14bcd9256f77","x":720,"y":700,"wires":[["bc5d082.07f7ff8"]]},{"id":"9be34ef.9efd03","type":"function","z":"8426298e.a8a078","name":"to lower case","func":"msg.payload = msg.payload.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":480,"wires":[["954b8751.dfa5a8"]]},{"id":"7799ab50.8ca74c","type":"switch","z":"a473ad98.b00e5","name":"voice commands","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ayuda","vt":"str"},{"t":"cont","v":"adi贸s","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":520,"wires":[["d7a1595c.6081d"],["82c4ca42.e21ee8"]]},{"id":"d7a1595c.6081d","type":"function","z":"a473ad98.b00e5","name":"keyword \"ayuda\"","func":"var alertMsg = {payload: \"palabra clave detectada: ayuda\"}\nreturn alertMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":500,"wires":[["ea76ebed.6f91a"]]},{"id":"ea76ebed.6f91a","type":"debug","z":"a473ad98.b00e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":500,"wires":[]},{"id":"82c4ca42.e21ee8","type":"function","z":"a473ad98.b00e5","name":"keyphrase \"chao\"","func":"var alertMsg = {payload: \"palabra clave detectada adi贸s\"}\nreturn alertMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":560,"wires":[["a0d1a88e.ffdf48"]]},{"id":"a0d1a88e.ffdf48","type":"debug","z":"a473ad98.b00e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":560,"wires":[]},{"id":"413c8d74.ca179c","type":"function","z":"a473ad98.b00e5","name":"to lower case","func":"msg.payload = msg.payload.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":400,"wires":[["7799ab50.8ca74c"]]},{"id":"d77ea352.0c58f8","type":"debug","z":"a473ad98.b00e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":60,"wires":[]},{"id":"b984217a.b1e6d8","type":"websocket out","z":"a473ad98.b00e5","name":"textOut","server":"cc275635.4e7948","client":"","x":940,"y":220,"wires":[]},{"id":"660c433.f191cbc","type":"websocket out","z":"a473ad98.b00e5","name":"textOut","server":"cc275635.4e7948","client":"","x":520,"y":200,"wires":[]}]
